<div class="day">
  <div class="row day__task-section day__task-section--large">
    <div class="task task--first task--invisible">
      <div class="task__inner"></div>
    </div>
    <div class="task task--invisible">
      <div class="task__inner"></div>
    </div>
    <div class="task">
      <div class="task__inner"></div>
    </div>
    <div class="task task--invisible">
      <div class="task__inner"></div>
    </div>
    <div class="task task--last task--invisible">
      <div class="task__inner"></div>
    </div>
  </div>
  <div class="row day__task-section day__task-section--medium">
    <div class="task task--first task--invisible">
      <div class="task__inner"></div>
    </div>
    <div class="task">
      <div class="task__inner"></div>
    </div>
    <div class="task">
      <div class="task__inner"></div>
    </div>
    <div class="task">
      <div class="task__inner"></div>
    </div>
    <div class="task task--last task--invisible">
      <div class="task__inner"></div>
    </div>
  </div>
  <div class="row day__task-section day__task-section--small">
    <div class="task task--first">
      <div class="task__inner"></div>
    </div>
    <div class="task">
      <div class="task__inner"></div>
    </div>
    <div class="task">
      <div class="task__inner"></div>
    </div>
    <div class="task">
      <div class="task__inner"></div>
    </div>
    <div class="task task--last">
      <div class="task__inner"></div>
    </div>
  </div>
</div>
