@import "compass/reset";

$gutter-width: 12px;
$sidebar-width: 100% / 6;
$content-width: 100% - $sidebar-width;
$header-height: 50px;
$footer-height: 50px;
$task-section-height: 33.333333%;

$panel-color: #333;
$panel-text-color: lighten($panel-color, 40%);
$small-color: #55F855;
$medium-color: #6490F3;
$large-color: #FFA358;

/* global layout */

div {
  box-sizing: border-box;
}

.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

/* app */
.app {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.app__header {
  position: absolute;
  top: 0;
  width: 100%;
  height: $header-height;
  line-height: $header-height;
  background: $panel-color;
  color: $panel-text-color;
  text-align: center;
}

.app__body {
  position: absolute;
  top: $header-height;
  bottom: $footer-height;
  width: 100%;
}

.app__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background: $panel-color;
  color: $panel-text-color;
  text-align: center;
}

.app__sidebar {
  position: absolute;
  left: 0;
  width: $sidebar-width;
  height: 100%;
  background: lighten($panel-color, 25%);
}

.app__content {
  position: absolute;
  left: $sidebar-width;
  width: $content-width;
  height: 100%;
  background: orange;
}

/* day */
.day {
  height: 100%;
}

.day__task-section {
  height: $task-section-height;
  padding: $gutter-width;

  > .task {
    width: 20%;
    height: 100%;
    margin-right: -4px;
    padding: 0 ($gutter-width / 2) 0 ($gutter-width / 2);
  }

  > .task--first {
    padding: 0 ($gutter-width / 2) 0 0;
  }

  > .task--last {
    padding: 0 0 0 ($gutter-width / 2);
  }
}

.day__task-section--small {
  top: $task-section-height * 2;
  background: $small-color;

  > .task > .task__inner {
      border-color: darken($small-color, 25%);
  }
}

.day__task-section--medium {
  top: $task-section-height;
  background: $medium-color;

  > .task > .task__inner {
      border-color: darken($medium-color, 25%);
  }
}

.day__task-section--large {
  top: 0;
  background: $large-color;

  > .task > .task__inner {
      border-color: darken($large-color, 25%);
  }
}

/* bank */
.bank {
  height: 100%;
  padding: $gutter-width;

  > .task {
    width: 100%;
    height: $task-section-height;
    margin-bottom: -4px;
    padding: 0 0 ($gutter-width) 0;

    > .task__inner {
      border-color: $panel-color;
    }
  }
}

/* task */
.task {
  display: inline-block;

  > .task__inner {
    height: 100%;
    border-width: 6px;
    border-style: solid;
    border-radius: 24px;
  }
}

.task--invisible {
  visibility: hidden;
}
