@import "compass/reset";

$bank-width: 300px;
$header-height: 50px;
$footer-height: 50px;
$task-section-height: 33.333333%;

/* global layout */
.row {
  left: 0;
  right: 0;
}

.col {
  top: 0;
  bottom: 0;
}

.row, .col {
  overflow: hidden;
  position: absolute;
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

/* app */
.app {
}

.app__header {
  top: 0;
  height: $header-height;
  line-height: $header-height;
  background: black;
  color: white;
}

.app__body {
  top: $header-height;
  bottom: $footer-height;
}

.app__footer {
  bottom: 0;
  height: $footer-height;
  line-height: $footer-height;
  background: black;
  color: white;
}

.app__sidebar {
  left: 0;
  width: $bank-width;
  background: gray;
}

.app__content {
  right: 0;
  left: $bank-width;
  background: orange;
}

/* day */
.day {
  background: orange;
}

.day__task-section {
  height: $task-section-height;
}

.day__task-section--small {
  top: $task-section-height * 2;
  background: orange;
}

.day__task-section--medium {
  top: $task-section-height;
  background: blue;
}

.day__task-section--large {
  top: 0;
  background: green;
}

/* task */
.task {
  display: inline-block;

  >div.task__spacer {
    height: 5%;
  }

  >div.task__box {
    height: 90%;
    box-sizing: border-box;
    border: 1px solid black;
  }
}

.task--in-bank {
  width: 90%;
  height: 33.333333%;
  margin: 0 5% 0 5%;
}

.task--in-day {
  width: 17%;
  height: 100%;
  margin: 0 1.5% 0 1.5%;
}
